@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.mcolr {
    color: #aacb7c;
}

.mcolr-gradi {
    background: linear-gradient(to right, #aacb7c 50%, #ecd9aa);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mbgcolr {
    color: #fff;
    background: linear-gradient(to right, #aacb7c 50%, #ecd9aa);
}

.ct-box {
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
}