html, body {
    width: 100%;
    height: 100vh;
}

body {
    background-color: #fafbfc;
}



/* header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}


/* aside size만 잡고 main은 min-width에 width 100% */
/* main */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    height: calc(100vh - 110px);
    margin: 0 auto;
    padding: 40px 0 0;
}
.left-aside{
    max-width: 240px;
    width: 100%;
    padding: 20px;
    border: 1px solid red;
    box-sizing: border-box;
}
.main {
    max-width: 440px;
    width: 100%;
    margin: 0 20px;
}
.right-aside {
    max-width: 360px;
    width: 100%;
    border: 1px solid green;
}

/* main - left-aside */
.profile-image {
    text-align: center;
}
.profile-image img {
    border-radius: 20px;
}
.side-nav {
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
}
.side-nav a {
    display: block;
    width: 100%;
    margin: 0 0 35px;
}

/* main - post-area */
.addpost-area,
.post-box {
    margin-bottom: 20px;
}

.addpost-title {
    display: flex;
    margin-bottom: 20px;
}
.content-main {
    display: flex;
    justify-content: space-between;
}
.writer-profile {
    width: 40px;
    height: 40px;
}
.writer-profile img {
    width: 100%;
    border-radius: 50%;
}
.content-area {
    margin-left: 20px;
    width: 100%;
}

.post-input {
    width: 100%;
    resize: none;
    border: 0;
    box-sizing: border-box;
}

.placeholder {
    font-size: 12px;
    color: #999;
}

.input-images {
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
}
.open-artboard {
    display: block;
    float: right;
    overflow: hidden;
}
.images {
    clear: both;
}
.open-artboard i {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
}

.submit-area {
    overflow: hidden;
}
.addpost-btn {
    float: right;
    width: 70px;
    height: 34px;
    font-weight: bold;
    border-radius: 20px;
}

/* 정리 해라 */
.post-box {
    min-height: 300px;
}
.writer {
    display: flex;
}

/* main - right-aside */
.right-aside {
    padding: 20px;
    box-sizing: border-box;
}



/* footer */