*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 87px;
    border-bottom: 1px solid #EBEBEB;
    background-color: white;
    position : sticky;
    top: 0;
}
.header-line{
    margin: 0 auto;
    width: 1080px;
    height: 86px;
    background-color: white;
    position: relative;
}

.logo{
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

nav {
    height: 86px;
    float: right;
}
nav ul{
    margin: auto 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}
nav >ul>li{
    align-items: flex-end;
    width: 50px;
    margin-top: 20px;
    padding: 15px 0;
}
nav ul li a {
    text-decoration: none;
    color: darkgray;
}
nav ul li a img{
    width: 30px;
    height: 30px;
}

.sub-menu {
    display: none;
    width: 150px;
    position: absolute;
    top: 86px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
}
.sub-menu li{
    padding: 15px;
    width: 150px;
    background: transparent;
    text-align: center;
}
.sub-menu li a{
    text-decoration: none;
    color: darkgray;
}